


                  /*page of p21*/



 
.container3{
    width: 500px;  cursor:pointer;
    height: 300px;
    position: absolute; 
    top:200px;
    left: 350px;
    border:5px solid #ffee00;
  
}

.a12 .container3:hover{
        
         box-shadow:0 0 19px #f5dd02;
}

.container2{
    width: 500px;
    height: 300px;
    position: absolute;
    top:200px;
    left: 900px;
    border:5px solid;
    border-color:#ffee00;
}


 .container2:hover{
        
         box-shadow:0 0 19px #f5dd02;
}

#cr{
    border: 3px solid #ffee00 ;
    box-shadow:0 0 10px #ffee00 ;
    padding: 10px;
    font-family:"", sans-serif;
     background-color:#3d3d3d;
    position: absolute;
    top: 2cm;
    left: 23%;
    font-size: 30px;
    width:68%;
    color: white;
}
#p12{
      width: 30%;
    border-radius: 10px;      position: absolute;
      color:white;
     top: 930px;  left: 350px;   font-size: 30px;
      
        animation: fadeUp both;
    animation-timeline: view() ;
    
      
    
}

                                 /*animation*/
                                 
                /* .timeline-item:nth-child(1) {
                          animation-range: entry 60% cover 60%;
       
                 }                
        
                          
   @keyframes fadeUp {
   from {
        opacity: 0;
        transform: translately(100px) scale(0.5);
   }
   to {opacity: 1;
        transform: translately(0) scale(1);}
   
   }*/
   
.style{
     width:70%; height:80%; z-index:1001; 
    position:fixed; left:15%; top:10%; box-shadow:0 0 150px #5489de;
    border:3px solid black;


} 
.styleg{
     width:100%; height:100%; z-index:900; 
    position:fixed; left:0%; top:0%; background-color:#4c5a6e; 
    opacity:0.5; cursor:pointer;

}
.stylef{
   width:5%; height:6%; z-index:1002; 
    position:fixed; left:86%; top:4%; font-size:30px; color:white; cursor:pointer;
     justify-content: center; align-items: center;  display: inline-flex;
} 


.style2{
     width:70%; height:80%; z-index:1001; 
    position:fixed; left:15%; top:10%; box-shadow:0 0 150px #5489de;
    border:3px solid black;


} 
.styleg2{
     width:100%; height:100%; z-index:900; 
    position:fixed; left:0%; top:0%; background-color:#4c5a6e; 
    opacity:0.5; cursor:pointer;

}
.stylef2{
   width:5%; height:6%; z-index:1002; 
    position:fixed; left:86%; top:4%; font-size:30px; color:white; cursor:pointer;
     justify-content: center; align-items: center;  display: inline-flex;
} 


#pv3{
    width: 20%;
 
    justify-content: center;
    display: inline-flex;
    align-items: center;
     position: absolute; padding: 10px;   left: 25%; font-size: 30px;
    border: 4px solid ;  
    top: 840px;   border-color : white;
    
    animation: text-appear both;
    animation-timeline: view() ;
     animation-range: entry 10% cover 50vh;
       
 
}
                          /*animation*/
                          
   @keyframes text-appear {
   from {
        opacity: 0;
        transform: translately(100px);
   }
   to {opacity: 1;
        transform: translately(0);}
   
   }
   #presen12{
   position:absolute; width:330px;
   top:920px ; left:66%; 
   animation-name:sizer123;
 animation-duration:4s;
   }
   #presen12:hover{ transform:skew(-5deg);}
                        /*animation*/
                        
                     
                 @keyframes sizer123 {
   from {
       width:1.0px;
   }
   to {
        width:330px;
   
   }
}


#ps35{
    width: 20%;
    border-radius: 10px;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    position: absolute;
    background-color: none ;
    top: 1170px;
    left: 25%;
    font-size: 30px;
    border: 2px solid oklab(88.676% -0.14747 0.14336);
}
#ps34{
    width:20%;
    border-radius: 10px;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    position: absolute;
    background-color: oklab(88.676% -0.14747 0.14336) ;
    top: 1770px;
    left: 25%;
    font-size: 30px;
}
#vs36{
    width: 15%;
    border-radius: 10px;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    position: absolute;
    border: 2px solid #a89803 ;
    top: 620px;
    left: 25%;
    font-size: 30px;
}
.dot { 
    width: 35%;

     top: 45px;
    left: 35%;
       position: absolute;
       
}
.dot1 {  
     height: 25px;
  width: 25px;
  background-color: yellow;
  border-radius: 50%;
  
          top: 620px;
    left: 40%;
       position:absolute;

}
.dot2 { 
height: 25px;
  width: 25px;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
          top: 620px;
    left: 46%;
       position: absolute;

}
.dot3 {  height: 25px;
  width: 25px;
  background-color: yellow ;
  border-radius: 50%;
  display: inline-block;
          top: 620px;
    left: 52%;
       position:absolute;

}
.dot4 {  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
          top: 620px;
    left: 58%;
       position: relative;
       opacity:70%;

}
.dot5 {  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
          top: 620px;
    left:64%;
       position: absolute;
         opacity:70%;

}


.c123 {
  width: 30%;
  height:0.8cm;
  background-color:#bbb;
  left:65%;
   position: absolute;
   top: 670px;
}
.cs12 {
width: 21%; background-color:  rgb(255, 215, 0);left:65%;
       position: absolute;top: 670px;
  text-align: right;
height:0.8cm;
  
  justify-content:center;
  animation-name:sizer12;
  animation-duration: 2s;
 
}
              /*animation*/
                 @keyframes sizer12 {
   from {
       width:1%;
   }
   to {
        width:21%;
   
   }
}

.cs12 p{
  position: absolute;
  top: -8px;
  left:90%;
  color: #333331;
}


.block3{
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20% ;
     position: absolute;
     top:600px;
     background-color: hsl(133, 100%, 50%);
     width:500px;
     height: 40px;
     left: 17cm;
     border-radius: 10px;
     border: 5px solid;
 }
  .block31{
     animation: appear 5s linear;
     animation-timeline: view();
     animation-range: entry 0% cover 20% ;
      position: absolute;
      top:607px;
      background-color: hsl(0, 0%, 0%);
      width:380px;
      height: 35px;
      left: 17.2cm;
  }
  #in1{
    position: absolute;
    top: 635px;
    left: 20cm;
    width: 5cm;
    font-size: 41px;
    text-shadow: 3px 4px 10px rgba(44, 44, 44, 0.952);
  }

