body{
    background-color: rgb(33, 32, 37);
    display: grid;
    grid-template-columns: repeate(3,1fr);
    Gap:200px;
}



 

#h23{
    color:red;
    position:absolute;
    top: 6000px;
}




#container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}






     

             /*view12 end   000 */
  

  


 


.tr34{
    width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 20px solid #ffffff;
	border-bottom: 10px solid transparent;
}



 



