/* page of p2*/

.selectpage{
    position: absolute;
    top: 760px;
    left: 5.7cm;
    z-index: 10;
    font-size: 30px;
}



#stl1{
    background-color: black;
    width: 1243px;
    height: 5px;
    position: absolute;
    top:110px;
    left: 18%;
}
#stl2{
    background-color: black;
    width: 5px; 
    height: 2000px;
    position: absolute;
    top:110px;
    left: 18%;
}
#bh1{
    height: 0.7cm;
    width: 3cm;
    position: absolute;
    top: 22px;
    left: 1cm;
    font-size: 17px;
    background-color: #ffffff;
    color: #046e17;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    transition: background-color 0.2 ease;
}
#bh1:hover{
    background-color: rgb(79, 219, 98);
}
#yts{
    height: 0.7cm;
    width: 3cm;
    position: absolute;
    top: 22px;
    left: 6cm;
    font-size: 17px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    transition: background-color 0.22ease;

}
#yts:hover{
    background-color: #fc2424;
}

#qp12{
    background-color: hsl(0, 4%, 26%);
    width:12inch ;
    height: 1.5cm;
   
} 
#cp20{
    height: 3cm;
    width: 5cm;
    position: absolute;
    top: 400px;
  
    left: 0.5cm;
    font-size: 30px;
    background-color: #ffffff;
    color: hsl(0, 0%, 4%);
    border-radius: 20px;
    text-decoration: none;
    padding: 15px;
   
    transition: background-color 0.25ease;
    background-color: #15ff00ea;

}
#cp20 #cs20{
    font-size: 20px;
}
#cp21{
  height: 3cm;
    width: 5cm;
    position: absolute;
    top: 570px;
   
    left: 0.5cm;
       font-size: 30px;
    background-color: #ffffff;
    color: hsl(0, 0%, 4%);
    border-radius: 20px;
    text-decoration: none;
    padding: 15px;
   
    transition: background-color 0.25ease;
    background-color: #15ff00ea;

}
#cp21:hover{
    background-color: #fc2424;
}
#cp22{
    height: 3cm;
    width: 5cm;
    position: absolute;
    top: 740px;
    left: 0.5cm;
    font-size: 30px;
    background-color: #ffffff;
    color: hsl(0, 0%, 4%);
    border-radius: 20px;
    text-decoration: none;
    padding: 15px;
   
    transition: background-color 0.25ease;
    background-color: #15ff00ea;

}
#cp23:hover{
    background-color: #fc2424;
}
#cp23{
height: 3cm;
    width: 5cm;
    position: absolute;
    top: 910px;
    left: 0.5cm;
       font-size: 30px;
    background-color: #ffffff;
    color: hsl(0, 0%, 4%);
    border-radius: 20px;
    text-decoration: none;
    padding: 15px;
   
    transition: background-color 0.25ease;
    background-color: #15ff00ea;

}
#cp20:hover{
    background-color: #fc2424;
}
#cp24{
    height: 3cm;
    width: 5cm;
    position: absolute;
    top: 1080px;
    left: 0.5cm;
    font-size: 30px;
    background-color: #ffffff;
    color: hsl(0, 0%, 4%);
    border-radius: 20px;
    text-decoration: none;
    padding: 15px;
   
    transition: background-color 0.25ease;
    background-color: #15ff00ea;

}
#cp24:hover{
    background-color: #fc2424;
}
#cp25{
height: 3cm;
    width: 5cm;
    position: absolute;
    top: 1250px;
    left:0.5cm;
      font-size: 30px;
    background-color: #ffffff;
    color: hsl(0, 0%, 4%);
    border-radius: 20px;
    text-decoration: none;
    padding: 15px;
   
    transition: background-color 0.25ease;
    background-color: #15ff00ea;

}
#cp25:hover{
    background-color: #fc2424;
}

    /*page of p20*/

#moral20 img{
    background-color:none ;
    width: 1243px ;
    height: 1905px;
    position: absolute;
    top:110px ;
    left: 18%;
    z-index: -10;
}

 #imgall img:hover{
        border:6px solid #000000;
}
 #imgall img{
    transition: border-color 0.1 ease;
}
.container3{
    width: 500px;
    height: 300px;
    position: absolute; 
    top:200px;
    left: 350px;
    border:5px solid;
    border-color: #e32f2f;
}

.container2{
    width: 500px;
    height: 300px;
    position: absolute;
    top:200px;
    left: 900px;
    border:5px solid;
    border-color: #e32f2f;
}

.container{
    width: 500px;
    height: 300px;
    position: absolute;
    top: 1160px;
    left: 350px;
    border: 4px solid;
    border-color: #3ba511;

}

#imgp12{
    width: 500px;
    height: 300px;
    position: absolute;
     top:670px;
    left: 900px;
}
.imgwe1{
        width: 500px;
    height: 300px;
    position: absolute;
    top:1160px;
    left: 900px;
    border:5px solid;
    border-color: hsl(0, 40%, 35%);
}
#v1{
    width: 500px;
    height: 300px;
    position: absolute;
     top:670px;
    left: 350px;
        border: 4px solid;
    border-color: #0acef1;
}

#cr{
    background-color: oklab(88.676% -0.14747 0.14336);
    padding: 10px;
    font-family:"", sans-serif;
    border-radius: 10px;
    position: absolute;
    top: 100px;
    left: 23%;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.778);
}
#pv3{
    width: 490px;
    border-radius: 10px;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    position: absolute;
    background-color: oklab(88.676% -0.14747 0.14336) ;
    top: 580px;
    left: 350px;
    font-size: 30px;
}
#ps34{
    width: 490px;
    border-radius: 10px;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    position: absolute;
    background-color: oklab(88.676% -0.14747 0.14336) ;
    top: 580px;
    left: 900px;
    font-size: 30px;
}
#ps35{
    width: 490px;
    border-radius: 10px;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    position: absolute;
    background-color: oklab(88.676% -0.14747 0.14336) ;
    top: 1070px;
    left: 350px;
    font-size: 30px;
}
#vs36{
    width: 490px;
    border-radius: 10px;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    position: absolute;
    background-color: oklab(88.676% -0.14747 0.14336) ;
    top: 1070px;
    left: 900px;
    font-size: 30px;
}


