.selectpage{
    position: absolute;
    top: 9.1cm;
    left: 5.84cm;
    z-index: 10;
    font-size: 30px;
    color:white;
}
p{color:white;}

body{
 background-color: black;
}


#stl1{
    background-color:#171717;
    width: 19%;
    height: 93%;
    position: fixed;
    top:7%;
    left: 0%;
    z-index: -10;
}
stl2{
    background-color: black;
    width: 82%; 
    height:4px;
    position: absolute;
    top:110px;
    left: 18%;
}

#bh1{
    height: 0.7cm;
    width: 3cm;
    position: fixed;
    top: 22px;
    left: 1cm;
    font-size: 17px;
    background-color: #ffffff;
    color: #046e17;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    transition: background-color 0.2 ease;
       z-index:102;
}
#bh1:hover{
    background-color: rgb(79, 219, 98);
}
#yts{
    height: 0.7cm;
    width: 3cm;
    position: fixed;
    top: 22px;
    left: 6cm;
    font-size: 17px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    transition: background-color 0.22ease;
    z-index:102;

}
#yts:hover{
    background-color: #fc2424;
}

#qp12{
    background-color: hsl(0, 0%, 29%);
    width:100% ;
    height: 1.5cm;
    position: fixed;
    z-index: 100;
    left: 0%;
    top: 0%;
   
} 

.dtp1{
    position: absolute;
    top: -260px;
}

#cp20{
    height: 1.5cm;
    width: 5cm;
    position: absolute;
    top: 0cm;
  
    left: 0.5cm;
    font-size: 45px;
   color:white;
    border-radius: 10%;
    text-decoration: none;
    padding: 15px;
  
    border:7px solid;
      border-image: linear-gradient(135deg,black,rgb(255, 238, 0)) 1;
       display: inline-flex;
       justify-content: center;
       align-items: center;

   
    transition: background-color 0.25ease;


}
#cp21:hover{
     
    background-image: linear-gradient(to right  ,hsl(46, 96%, 45%),black);
}
#cp20 #cs20{
    font-size: 20px;
       
}
#cp21{
     height: 1.5cm;
    width: 5cm;
    position: absolute;
    top: 3cm;
  
    left: 0.5cm;
    font-size: 35px;
    
    color:white;
    border-radius: 10%;
    text-decoration: none;
    padding: 15px;
  
    border:7px solid;
      border-image: linear-gradient(45deg,black,rgb(255, 238, 0)) 1;
       display: inline-flex;
       justify-content: center;
       align-items: center;

   
    transition: background-color 0.25ease;


   

}
#cp20:hover{
 
    background-image: linear-gradient(to right  ,hsl(46, 96%, 45%),black);
}
#cp22{
    height: 1.5cm;
    width: 5cm;
    position: absolute;
    top: 6cm;
    left: 0.5cm;
    font-size: 45px;
    
    color:white;
    border-radius: 10%;
    text-decoration: none;
    padding: 15px;
  
    border:7px solid;
      border-image: linear-gradient(135deg,black,rgb(255, 238, 0)) 1;
       display: inline-flex;
       justify-content: center;
       align-items: center;

   
    transition: background-color 0.25ease;


}
#cp23:hover{
     
    background-image: linear-gradient(to right  ,hsl(46, 96%, 45%),black);
}
#cp23{
height: 1.5cm;
    width: 5cm;
    position: absolute;
    top: 9cm;
    left: 0.5cm;
    font-size: 45px;
    
    color:white;
    border-radius: 10%;
    text-decoration: none;
    padding: 15px;
  
    border:7px solid;
      border-image: linear-gradient(45deg,black,rgb(255, 238, 0)) 1;
       display: inline-flex;
       justify-content: center;
       align-items: center;

   
    transition: background-color 0.25ease;


}
#cp22:hover{
     
    background-image: linear-gradient(to right  ,hsl(46, 96%, 45%),black);
}
#cp24{
    height: 1.5cm;
    width: 5cm;
    position: absolute;
    top: 12cm;
     left: 0.5cm;
    font-size: 37px;
    
    color:white;
    border-radius: 10%;
    text-decoration: none;
    padding: 15px;
  
    border:7px solid;
      border-image: linear-gradient(135deg,black,rgb(255, 238, 0)) 1;
       display: inline-flex;
       justify-content: center;
       align-items: center;

   
    transition: background-color 0.25ease;

}
#cp24:hover{
     
    background-image: linear-gradient(to right  ,hsl(46, 96%, 45%),black);
}

#cp25{
height: 1.5cm;
    width: 5cm;
    position: absolute;
    top: 15cm;
    left: 0.5cm;
    font-size: 45px;
    color:white;
   
    border-radius: 10%;
    text-decoration: none;
    padding: 15px;
  
    border:7px solid;
      border-image: linear-gradient(45deg,black,rgb(255, 238, 0)) 1;
       display: inline-flex;
       justify-content: center;
       align-items: center;

   
    transition: background-color 0.25ease;

}
#cp25:hover{
     
    background-image: linear-gradient(to right  ,hsl(46, 96%, 45%),black);
}

#c11{
 position: fixed ;
 top:2cm;
 color:white;
}

   .Frontend{z-index:101; position:fixed;
             top:0.4cm; left:50%; color:white;
            font-size:24px; width: 10%; height:0.8cm;
          text-decoration:none; display:inline-flex;
          justify-content:center; border-radius:10px;
   }
   .Frontend:hover{
   background: linear-gradient(to right, #ff3300 0%, #800000 100%);}
   
   .projects{z-index:102; position:fixed;
             top:0.4cm; left:60%; color:white;
          font-size:24px; width: 10%; height:0.8cm;
          text-decoration:none; display:inline-flex;
       justify-content:center; border-radius:10px;}
       .projects:hover{
   background: linear-gradient(to right, #ff3300 0%, #800000 100%);}
   
   .JavaScript{z-index:101; position:fixed;
             top:0.4cm; left:70%; color:white;
            font-size:24px; width: 12%; height:0.8cm;
          text-decoration:none; display:inline-flex;
         justify-content:center; border-radius:10px;}
         .JavaScript:hover{
   background: linear-gradient(to right, #ff3300 0%, #800000 100%);}
   
   .Coding{z-index:101; position:fixed;
             top:0.4cm; left:82%; color:white;
            font-size:24px; width: 8%; height:0.8cm;
          text-decoration:none; display:inline-flex;
       justify-content:center; border-radius:10px;}
       .Coding:hover{
   background: linear-gradient(to right, #ff3300 0%, #800000 100%);}
   
   .AI{z-index:101; position:fixed;
             top:0.4cm; left:90%; color:white;
            font-size:24px; width: 5%; height:0.8cm;
          text-decoration:none; display:inline-flex;
        justify-content:center; border-radius:10px;}
        .AI:hover{
   background: linear-gradient(to right, #ff3300 0%, #800000 100%);}


            /*page 23 coding . It's just for coding page.*/
            
            
     
    #box11{ position:absolute; top:3.6cm; left:30%; width:14%; height:6.6cm; 
            background-color:#323333; color:white; 
             border:#216ade 3px solid ; padding:10px; box-shadow:0 0 6px #216ade;
            }
            #box11:hover{box-shadow:0 0 15px #216ade;}
  #box12{ position:absolute; top:3.6cm; left:50%; width:14%; height:6.6cm; 
            background-color:#323333; color:white; 
            border:#216ade 3px solid ; padding:10px; box-shadow:0 0 6px #216ade;
            }
             #box12:hover{box-shadow:0 0 15px #216ade;}
        #box13{ position:absolute; top:3.6cm; left:70%; width:14%; height:6.6cm; 
            background-color:#323333; color:white; 
             border:#216ade 3px solid ; padding:10px; box-shadow:0 0 6px #216ade;
            }
             #box13:hover{box-shadow:0 0 15px #216ade;}
