.zoom-img{width:300px; }
/* popup background */
.image-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    z-index: 1000;
}

/* visible state */
.image-popup.active {
    visibility: visible;
    opacity: 1;
}

/* big image */
.image-popup img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

/* close button */
.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}


    /*page of p20*/

#moral20 img{
    background-color:none ;
    width: 1243px ;
    height: 2000px;
    position: absolute;
    top:110px ;
    left: 18%;
    z-index: -10;
}


#container3{
    width: 500px;  cursor:pointer;
    height: 300px;
    position: absolute; 
    top:200px;
    left: 350px;
    border:5px solid;
    border-color: #e32f2f;
}

#container2{
    width: 500px;
    height: 300px;
    position: absolute;
    top:200px;
    left: 900px;
    border:5px solid;
    border-color: #e32f2f;
}

#container{
    width: 500px;
    height: 300px;
    position: absolute;
    top: 670px;
    left: 350px;
    border: 4px solid;
    border-color: #3ba511;

}


#v1{
    width: 500px;
    height: 300px;
    position: absolute;
     top:670px;
    left: 350px;
        border: 4px solid;
    border-color: #0acef1;
}

#cr{
    background-color: oklab(88.676% -0.14747 0.14336);
    padding: 10px;
    font-family:"", sans-serif;
    border-radius: 10px;
    position: absolute;
    top: 100px;
    left: 23%;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.778);
}
#pv3{
    width: 490px;
    border-radius: 10px;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    position: absolute;
    background-color: oklab(88.676% -0.14747 0.14336) ;
    top: 580px;
    left: 350px;
    font-size: 30px;
}
#ps34{
    width: 490px;
    border-radius: 10px;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    position: absolute;
    background-color: oklab(88.676% -0.14747 0.14336) ;
    top: 580px;
    left: 900px;
    font-size: 30px;
}


.slideshow-container{

    width: 15cm;
    position: relative;
    top: 1550px;
    left: 40%;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}


.image-section #ps35{
    width: 30%;
    border-radius: 10px;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    position: absolute;
    background-color: oklab(88.676% -0.14747 0.14336) ;
    top: 1040px;
    left: 24%;
    font-size: 30px;
}
.image-section #vs36{
    width: 30%;
    border-radius: 10px;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    position: absolute;
    background-color: oklab(88.676% -0.14747 0.14336) ;
    top: 1040px;
    left: 60%;
    font-size: 30px;
}
.image-section #imgp12{
    width: 32%;
    height: 300px;
    position: absolute;
     top:1160px;
    left: 24%;
}
.image-section #imgwe1{
        width: 32%; cursor:pointer;
    height: 300px;
    position: absolute;
    top:1160px;
    left:60%;
    border:5px solid;
    border-color: hsl(0, 40%, 35%);
}




/* Card Style */


/* Hover Effect */
.image-card:hover {
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 12px 35px rgba(0,0,0,0.2);

}

/* Image styling */
.image-card img {
    width: 100%;
  

}

/* Scroll Animation Base */


#vs36{
    opacity: 0;
    transform: translateY(50px);
    transition: 0.9s ease-in-out;

    
}

/* When visible */
 #vs36.active{
    opacity: 1;
    transform: translateY(0px);
    
}


