
#e27{
    color:#fefbfb;
    font-size: 50px;
    position: absolute;
    top: 1800px;
    left: 3%;
}
#slide345{
    color:#ea8181;
    font-size: 55px;
    position: absolute;
    top: 1950px;
    left: 8%;
}
#imgp1{
    position: absolute;
    top:2200px;
    left: 8%;

}
#imgp2{
    position: absolute;
    top:2200px;
    left: 30%;

}
#imgp3{
    position: absolute;
    top:2200px;
    left: 52%;

}
#imgp4{
    position: absolute;
    top:2000px;
    left: 74%;

}
#imgp5{
    position: absolute;
    top:2200px;
    left: 74%;

}
#imgp6{
    position: absolute;
    top:2000px;
    left: 52%;

}
#imgp7{
    position: absolute;
    top:200px;
    left: 30%;

}
#imgp8{
    position: absolute;
    top:2400px;
    left: 8%;

}
#imgp9{
    position: absolute;
    top:2400px;
    left: 74%;

}
#imgp10{
    position: absolute;
    top:2400px;
    left: 52%;

}
#imgp11{
    position: absolute;
    top:2600px;
    left: 52%;

}
#imgp12{
    position: absolute;
    top:2600px;
    left: 74%;

}
#cr{
    color:rgb(49, 112, 168);
    top:2900px;
    left: 40%;
    position: absolute;
    font-size: 50px;
}
#imgp132{
    position: absolute;
    top:3100px;
    left: 24%;

}
#imgp162{
    position: absolute;
    top:3200px;
    left: 54%;

}
