  .lk1{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color:rgb(41, 171, 40);
    background-color: no; /* Facebook blue */
    border-radius: 50%;
    border: 2px solid;
    border-color: rgb(41, 171, 40);
    text-decoration: none;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 445px;
    left:21%;
    
    font-size: 25px;
    font-style:normal ;
  }
  
  .lk1:hover {
    background-color: white;
  }
  
  .yts1{
     display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: rgb(41, 171, 40);
    background-color: no; /* Facebook blue */
    border-radius: 50%;
    border: 2px solid;
    border-color: rgb(41, 171, 40);
    text-decoration: none;
  
    transition: background-color 0.4s ease;
    position: absolute;
    top: 445px;
    left:26%;
    
    
    font-size: 25px;
    font-style:normal ;
}

.yts1:hover{
    background-color:white;
}
  .gith1{
     display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: rgb(41, 171, 40);
    background-color: no; /* Facebook blue */
    border-radius: 50%;
    border: 2px solid;
    border-color: rgb(41, 171, 40);
    text-decoration: none;
  
    transition: background-color 0.4s ease;
    position: absolute;
    top: 445px;
    left:31%;
    
    
    font-size: 27px;
    font-style:normal ;
}

.gith1:hover{
    background-color:white;
}


.project1{
   width:10%;
   left:8%;
   position:absolute;
   top:445px;
   height:1cm;
   background-image:linear-gradient(to right,#66ff33,#00cc00);
      color:black;
   border-radius:30px;
   box-shadow:0 0 5px rgb(41, 224, 40);
   display:inline-flex;
   justify-content:center;
   align-items:center;
   font-size:25px; text-decoration:none;   
} 

.project1:hover{box-shadow:0 0 30px white;}
